body{
	margin:0;
}

div {
	overflow:hidden;
	position:absolute;
	background-size:cover;
}

.bg{
	width:100%;
	height:100%;
	background-image: url("./m_img/mobile_bg.jpg");	
	}

#game{
	width:100%;
	height:14%;
	top:80%;
	left:0%;
	background-image: url("./m_img/game_01.jpg");	
}



	