body{
	background:black;
	background-image: url("./img/background.png");
	margin: 0;
}

ul{
	display: none;
}

a{
	display: none;
}

audio{
	controls : false;
}

#mask{
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 20;
}

.tee{
	position: relative;
	width: 1920px;
	height: 1080px;
}

#slides {
	position: absolute;
	display: none;
	width: 658px;
	height: 500px;	
	left: 628px;
	top: 289px;

}

#slides_eyeb {
	position: absolute;
	display: none;
	width: 311px;
	height: 71px;
	left: 810px;
	top: 120px;	
}

#slides_01 {
	position: absolute;
	display: none;
	width: 311px;
	height: 91px;
	left: 808px;
	top: 190px;	
}

#slides_nose {
	position: absolute;
	display: none;
	width: 311px;
	height: 51px;
	left: 808px;
	top: 260px;	
}

#slides_mouth {
	position: absolute;
	display: none;
	width: 311px;
	height: 158px;
	left: 808px;
	top: 315px;	
}

#slides_hair {
	position: absolute;
	display: none;
	width: 311px;
	height: 469px;
	left: 808px;
	top: 4px;	

	z-index: 10;
}

#slides_02 {
	position: absolute;
	display: none;
	width: 312px;
	height: 160px;
	left: 813px;
	top: 918px;	

	z-index: 10;
}

#slides_03 {
	position: absolute;
	display: none;
	width: 416px;
	height: 659px;
	left: 756px;
	top: 342px;	

	z-index: 10;
}

#slides_armac {
	position: absolute;
	display: none;
	width: 102px;
	height: 80px;
	left: 633px;
	top: 643px;

	z-index: 10;	
}

.container {
	margin: 0 auto;
}

.slidesjs-next.slidejs-navigation{
	left: 631px;
	top: 291px;
}
